{% extends 'base.html.twig' %}

{% block title %}CatPicture index{% endblock %}

{% block body %}
    <h1>CatPicture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>MainPicture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cat_picture in cat_pictures %}
            <tr>
                <td>{{ cat_picture.id }}</td>
                <td>{{ cat_picture.picture }}</td>
                <td>{{ cat_picture.mainPicture ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_cat_picture_show', {'id': cat_picture.id}) }}">show</a>
                    <a href="{{ path('app_cat_picture_edit', {'id': cat_picture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cat_picture_new') }}">Create new</a>
{% endblock %}
