{% extends 'admin/admin_base.html.twig' %}

{% block title %}Cat index
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Cat index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>DateOfBirth</th>
					<th>Description</th>
					<th>GoodPoint</th>
					<th>BadPoint</th>
					<th>Rating</th>
					<th>CatOfTheMonth</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for cat in cats %}
					<tr>
						<td>{{ cat.id }}</td>
						<td>{{ cat.name }}</td>
						<td>{{ cat.dateOfBirth ? cat.dateOfBirth|date('Y-m-d') : '' }}</td>
						<td>{{ cat.description }}</td>
						<td>{{ cat.goodPoint }}</td>
						<td>{{ cat.badPoint }}</td>
						{% set total = 0 %}
						{% set count = 0 %}
						{% for rating in ratings %}
							{% if cat is same as rating.catId %}
								{% set total = rating.rating + total %}
								{% set count = count + 1 %}
							{% endif %}
						{% endfor %}
						{% if total == 0 %}
							<td>No vote yet</td>
						{% else %}
							{% set total = total / count %}
							<td>{{ total }}</td>
						{% endif %}
						<td>{{ cat.catOfTheMonth ? 'Yes' : 'No' }}</td>
						<td>
							<a href="{{ path('app_cat_show', {'id': cat.id}) }}">show</a>
							<a href="{{ path('app_cat_edit', {'id': cat.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_cat_new') }}">Create new</a>
	</div>
{% endblock %}
