{% extends 'admin/admin_base.html.twig' %}

{% block title %}Cat index
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Cat index</h1>
	<div class="d-flex justify-content-end">
			<a class="btn btn-sm bg-primary text-light px-5 py-2" href="{{ path('app_cat_new') }}">
				Upload new</a>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>DateOfBirth</th>
					<th>Description</th>
					<th>GoodPoint</th>
					<th>BadPoint</th>
					<th>Rating</th>
					<th>CatOfTheMonth</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for cat in cats %}
					<tr>
						<td class="align-middle">{{ cat.name }}</td>
						<td class="align-middle ">{{ cat.dateOfBirth ? cat.dateOfBirth|date('Y-m-d') : '' }}</td>
						<td class="align-middle">{{ cat.description }}</td>
						<td class="align-middle">{{ cat.goodPoint }}</td>
						<td class="align-middle">{{ cat.badPoint }}</td>
						{% set total = 0 %}
						{% set count = 0 %}
						{% for rating in ratings %}
							{% if cat is same as rating.catId %}
								{% set total = rating.rating + total %}
								{% set count = count + 1 %}
							{% endif %}
						{% endfor %}
						{% if total == 0 %}
							<td class="align-middle">No vote yet</td>
						{% else %}
							{% set total = total / count %}
							<td class="align-middle">{{ total }}</td>
						{% endif %}
						<td class="align-middle">{{ cat.catOfTheMonth ? 'Yes' : 'No' }}</td>
						<td class="align-middle text-end">
							<a class="btn btn-sm bg-primary text-light p-2 px-3" href="{{ path('app_cat_edit', {'id': cat.id}) }}">Edit</a>
						</td>
						<td class="align-middle">
							{{ include('admin/cat/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no cat found :( </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
